* {

    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color:turquoise;
    overflow-x: hidden ;
    }
    .header {
        
        height: 20vh;
        display: flex;
        align-items: center;
        color: #fff;
    }
    .fondo2 {
        background-image: url("C:\Digimon\assets\img\digiworld.png");
        
        background-size:500px;
        background-repeat:repeat-x;
    }
    .content {
        max-width: 12rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: auto;
        text-align: center;
    }
    .header-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh;
        overflow: hidden;
    }
    .header-video video{
        min-width: 100%;
        min-height: 100%;

    }
    .header-overlay{
        height: 12rem;
        width: 50vw;
        align-items: center;
        top: 0;
        left: 0;
        background: #303952;
        z-index: 2;
        opacity: .01;

    }
    .header-content {
        z-index: 3;
       
    }
    .header-content h1 {
        font-size: 50px;
        margin-bottom: 0;
        font-family: 'Press Start 2P', cursive;

    }
    .header-content p {
        font-size: 1.5rem;
        display: block;
        padding-bottom: 2rem;
        font-family: 'Press Start 2P', cursive;
    }
    .header-content img {
        align-items: center;
        margin-top: 5rem;
       /*padding-left: 20%;*/
       /*padding-right: 20%;*/
        width: 20rem;
        height: auto;
    }
    @media (max-width: 960px) {
        .content {
            padding: 0 3rem 0 3rem;

        }
    }
    .contenido {
        cursor: pointer;
       
        font-size: 0.8rem;
        font-family: 'Press Start 2P', cursive;
        margin: 2%;
     

    }
   
    .tarjeta {
        margin-top: 3%;
        margin: 2%;
        display: inline-block;
        transition: 2s;
    
    }
    .tarjeta:hover{
    transform: scale(1.5,1.5);
    transition: 2s;
    }
    .menu {
       
       margin-top: 30rem;
        font-family: 'Press Start 2P', cursive;
        align-items:end;
      z-index: 2;
          
    }
    a {
        color:coral;
    }
    .dropdown {
        font-family: 'Press Start 2P', cursive;
        margin-top: 3rem;
    }
    main {
        z-index: 3;
        background-color: aqua;
    }
    #segundacaja {
        background-color: blue;
    }
    
    /*pantalla xl*/
@media (min-width:1200px) {
    .col-xl-12 {
        width: 100%;
    }

    .col-xl-11 {
        width: 91.66666667%;
    }

    .col-xl-10 {
        width: 83.33333334%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-8 {
        width: 66.66666667%;
    }

    .col-xl-7 {
        width: 58.33333334%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-5 {
        width: 41.66666667%;
    }

    .col-xl-4 {
        width: 33.33333334%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-2 {
        width: 16.66666667%;
    }

    .col-xl-1 {
        width: 8.33333333%;
    }
}

/*
.col-lg-N.
Para este caso damos un tama�o m�nimo de 992px y un m�ximo de 1199px.


 Pantalla Large (>=992px)
*/
@media(min-width:992px) and (max-width:1199px) {
    .col-lg-12

{
    width: 100%;
}

.col-lg-11 {
    width: 91.66666667%;
}

.col-lg-10 {
    width: 83.33333334%;
}

.col-lg-9 {
    width: 75%;
}

.col-lg-8 {
    width: 66.66666667%;
}

.col-lg-7 {
    width: 58.33333334%;
}

.col-lg-6 {
    width: 50%;
}

.col-lg-5 {
    width: 41.66666667%;
}

.col-lg-4 {
    width: 33.33333334%;
}

.col-lg-3 {
    width: 25%;
}

.col-lg-2 {
    width: 16.66666667%;
}

.col-lg-1 {
    width: 8.33333333%;
}

}

/*
 Pantalla Extra Large (>=1200px)
*/
@media(min-width:1200px) {
    .col-xl-12

{
    width: 100%;
}

.col-xl-11 {
    width: 91.66666667%;
}

.col-xl-10 {
    width: 83.33333334%;
}

.col-xl-9 {
    width: 75%;
}

.col-xl-8 {
    width: 66.66666667%;
}

.col-xl-7 {
    width: 58.33333334%;
}

.col-xl-6 {
    width: 50%;
}

.col-xl-5 {
    width: 41.66666667%;
}

.col-xl-4 {
    width: 33.33333334%;
}

.col-xl-3 {
    width: 25%;
}

.col-xl-2 {
    width: 16.66666667%;
}

.col-xl-1 {
    width: 8.33333333%;
}

}
/*
 Pantalla Large (>=992px)
*/
@media(min-width:992px) and (max-width:1199px) {
    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-10 {
        width: 83.33333334%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }

    .col-lg-7 {
        width: 58.33333334%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333334%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }
}
/*
 Pantalla Medium (>=768px)
*/
@media(min-width:768px) and (max-width:991px) {
    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333334%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333334%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333334%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }
}

/*pantalla Small (>=576px)
*/
@media(min-width:576px) and (max-width:767px) {
    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333334%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333334%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333334%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }
}
/*
 Pantalla Extra small (<576px)
*/
@media(max-width:575px) {
    .col-xs-12 {
        width: 100%;
    }

    .col-xs-11 {
        width: 91.66666667%;
    }

    .col-xs-10 {
        width: 83.33333334%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-8 {
        width: 66.66666667%;
    }

    .col-xs-7 {
        width: 58.33333334%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-5 {
        width: 41.66666667%;
    }

    .col-xs-4 {
        width: 33.33333334%;
    }

    .col-xs-3 {
        width: 25%;
    }
        
    .col-xs-2 {
        width: 16.66666667%;
    }

    .col-xs-1 {
        width: 8.33333333%;
    }
}
